{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h4 class="title">Below is link to the transcript of our session</h4>
        <h4>Below is link to the transcript of our session</h4>
        <p>Click <a href="{{ download_link }}">here</a> to download the transcript file.</p>
    <div class="container">
        <p>{{ transcript }}</p>
        <input type="text" id="transcriptLink" value="{{ download_link }}" readonly>
        <button id="copybutton" onclick="copyTranscript()">Copy</button>
    </div>
    <div class="container" style="text-align: center;">
        <button id="newbutton" onclick="redirectToIndex()">Do a New Task</button>
    </div>
</div>
    <script>
        function copyTranscript() {
            var transcript = document.getElementById("transcriptLink");
            transcript.select();
            document.execCommand("copy");
        }

        function redirectToIndex() {
            window.location.href = "/";
        }
    </script>



{% endblock %}